@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

* {
    box-sizing: border-box;
    font-family: sans-serif, 'cwTeXYen', 'Noto Sans TC', '微軟正黑體','Microsoft JhengHei',sans-serif;
    outline: none;
    text-decoration: none;
    transition: 0.3s;
}

html, body{
    background-color: #202839;
    margin: 0;
    width: 100%;
    height: 100vh;

}

.gradient{
    border: double 2px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#1b1d2d, #1b1d2d), radial-gradient(circle at top left, #fb0e6e,#942c9d);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}