/* login */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 380px;
    width: 85%;
}

.left-btn, .right-btn{
    cursor: pointer;
    transform: translateY(-7px);
}

.left-btn:hover{
    transform: translateX(-3px) translateY(-7px);
}
.right-btn:hover{
    transform: translateX(3px) translateY(-7px);
}

.main-head{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px 20px 10px;
}

.head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 150%;
    height: 150%;
    opacity: 0;
}

.active-head{
    opacity: 1;
    width: 95%;
    height: 95%;
}


.input-name{
    border-radius: 10px;
    background-color: #1b1d2d;
    border: solid 3px #393c4b;

    color: #E2E2E2;
    width: 100%;
    font-size: 30px;
    padding: 12px 0px 12px 0px;
    margin-bottom: 30px;
    text-align: center;
}

.title{
    color: #E2E2E2;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 300;
}


.subject-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

.subject{
    width: 23.5%;
    height: 65px;
    cursor: pointer;

    font-weight: 200;
    font-size: 20px;
    color: #E2E2E2;
    border-radius: 10px;
    background-color: #1b1d2d;
    border: solid 3px #393c4b;
    
}

.subject:hover{
    border: solid 3px #4900ff;
    transform: translateX(2px) translateY(2px);
}

.active{
    border: solid 3px #4900ff;
}


.start{
    width: 100%;
    height: 65px;
    box-shadow: 2px 2px 20px 0 #041a5a;

    font-size: 34px;
    color: #E2E2E2;
    font-weight: 300;
    cursor: pointer;
}

.notactive{
    opacity: 0.5;
    filter: grayscale(1);
}




.start:hover{
    box-shadow: -2px -2px 30px 0 #041a5a;
    transform: translateX(2px) translateY(2px);
}






/* chatroom */
.chatroom{
    display: none;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.msg-area{
    width: 100%;
    height: 100%;
    border-radius: 20px;

    padding: 30px;
    overflow: scroll;

    background-color: #1b1d2d;
    box-shadow: 3px 2px 20px 0 #101e48;

    padding-bottom: 100px;
}

.label{
    border-radius: 10px;
    background-color: #4900ff;
    color: white;
    padding: 20px 30px;
    height: 65px;
    font-size: 22px;
    font-weight: 200;
    position: absolute;
    top: 14px;
    left: -15px;
    z-index: 10;
}


.stop-talking{
    border: 2px white solid;
    padding: 3px 5px;
    margin-left: 5px;
    cursor: pointer;
}

.stop-talking:hover{
    color: #4900ff;
    background-color: white;
}

.main-board{
    height: 85%;
    width: 85%;

    /* important */
    position: relative;
}

.input-group{
    width: 95%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    /* justify-content: space-between; */
}

.input-chat{
    border-style: none;
    border-radius: 10px;
    color: #E2E2E2;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    text-align: left;

    width: 100%;
    height: 40px;
    padding: 5px 0px 5px 20px;
    font-weight: 300;
    margin-right: 15px;

    height: 65px;
    box-shadow: 2px 2px 10px 0 #121212;
    background-color: #202839;
    border: solid 3px #393c4b;
}

.send-msg{    
    width: 80px;
    min-width: 65px;
    height: 65px;

    color: white;;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}

.send-msg:hover{
    background-color: #f67180;
    color: white;
}

.stop-send-msg{    
    width: 85%;
    min-width: 65px;
    height: 50px;
    color: white;;
    font-size: 22px;
    font-weight: 300;
}

/* 離開功能鈕 */
.leave{
    width: 120px;
    height: 120px;

    color: #E2E2E2;
    border-radius: 200px;

    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    
    position: absolute;
    top: -50px;
    right: 2%;
    z-index: 100;
    border: double 4px transparent;
}

.leave:hover{
    transform: translateY(3px);
}

.leave p{
    transform: translateY(15px);
}


/* template */
.template{
    display: none;
}

.me{
    margin-bottom: 20px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.me .right{
    background-color: white;
    border-radius: 50%;

    min-width: 68px;
    min-height: 68px;
    width: 68px;
    height: 68px;
}

.head-img{
    width: 100%;
    height: 100%;
}

.me .left{
    margin-right: 20px;
    text-align: right;
}

.me .left .up{
    color: white;
    font-size: 16px;
    margin-right: 20px;
    margin-bottom: 3px;
}


.me .left .down{
    display: inline-block;
    
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 20px;

    border-radius: 30px;
    background: linear-gradient(to right,#fb0e6e, #942c9d);
    border: solid 0.6px #383b4a;
}


.other{
    margin-bottom: 20px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.other .right{
    text-align: left;
}

.other .left{
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
    min-width: 68px;
    min-height: 68px;
    width: 68px;
    height: 68px;

}



.other .right .up{

    color: #E2E2E2;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 3px;
}


.other .right .down{
    display: inline-block;
    background-color: #6B5B7A;
    
    padding: 10px 40px 10px 20px;
    color: #E2E2E2;
    font-size: 20px;

    border-radius: 30px;
    background-color: #202839;
    border: solid 0.6px #383b4a;
    
}


.msg{
    word-break: break-all;
    text-align: left;
}



/* admin */
.stop-list{
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 50;
}

.list-body{
    width: 60%;
    max-width: 580px;
    min-width: 300px;
    height: 70%;
    background-color: #393C4B;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
}

.stop-title{
    color: white;
    background-color: #4900ff;
    border-radius: 10px;
    font-size: 22px;
    height: 60px;
    margin-bottom: 30px;
}

.stop-input-group{
    width: 95%;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.stop-input-chat{
    border-style: none;
    border-radius: 10px;
    color: #E2E2E2;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    text-align: left;

    width: 100%;
    height: 40px;
    padding: 5px 0px 5px 20px;
    font-weight: 300;
    margin-right: 15px;

    height: 65px;
    
    background-color: #202839;
    border: solid 3px #393c4b;
}


.stop-send-msg{    
    width: 80px;
    min-width: 65px;
    height: 65px;

    color: white;;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}

.stop-send-msg:hover{
    transform: translateX(3px) translateY(3px);
}

.stop-template{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    color: white;
}


.stop-id{
    font-size: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.cancel-stop{
    font-size: 14px;
    border: 1px white solid;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.cancel-stop:hover{
    background-color: white;
    color: #393C4B;
    transform: translateX(1px) translateY(1px);
}


.stop-content{
    overflow: scroll;
    height: 70%;
}


.b-id{
    color: #4900ff;
    font-size: 10px;
    margin-left: 5px;
}

.remove-history{
    color: white;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 60%;
    max-width: 580px;
    min-width: 300px;
}

.remove-history div{
    width: 24%;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.remove-history div:hover{
    color: black;
    background-color: white;
}

.remove-btn{
    display: none;
}

@media screen and (max-width: 500px) {
    .other .left{
        min-width: 45px;
        min-height: 45px;
        width: 45px;
        height: 45px;
    }

    .me .right{
        min-width: 45px;
        min-height: 45px;
        width: 45px;
        height: 45px;
    }

    .msg-area{
        padding: 50px 10px 10px 10px;
        padding-bottom: 100px;
    }

    .main-board{
        width: 93%;
        height: 93%;
    }


    .input-group{
        bottom: 20px;
    }

    .label{
        padding: 10px 30px;
        height: 54px;
        font-size: 18px;
    }

    .leave{
        width: 85px;
        height: 85px;
        color: #E2E2E2;
        border-radius: 200px;
        font-size: 21px;
        border: double 2.5px transparent;
        top: -39px;
    }

    .other .right .down{
        font-size: 14px;
        padding: 5px 20px 5px 10px;
        font-size: 14px;
    }

    .me .left .down{
        font-size: 14px;
        padding: 5px 20px 5px 10px;
        font-size: 14px;
    }

    .other{
        margin-bottom: 10px;
    }

    .me{
        margin-bottom: 10px;
    }
}